
.containers {
  display: flex;
  justify-content: center;
  align-items: stretch;
  /* Make columns stretch to the same height */
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.column .items {
    width: 200px; 
    height: 100%; 
    margin-bottom: 10px; 
    background-color: rgb(7, 127, 179); 
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.stretc {
  justify-content: stretch; /* Ensure the column stretches */
}

.stretch-ite {
    height: 100%; /* Make the div take up the full height */
    flex-grow: 1; /* Ensure it grows to fill the space */
}
