.containers {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 10px;
  position: relative;
}

.column .items {
  width: 480px;
  height: 100%;
  margin-bottom: 15px;
  background-color: #dadada;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: all ease-in-out 0.8s;
  cursor: pointer;
}
.column .items:hover {
  scale: 1.05;
  transition: all ease-in-out 0.8s;
}

.stretch {
  justify-content: stretch; 
}

.stretch-item {
  height: 100%; /* Make the div take up the full height */
  flex-grow: 1; /* Ensure it grows to fill the space */
}

.column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  background-color: #c8c8c8;
}
.column .items::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* rgba values for desired shadow color */
  transition: background-color 0.3s ease-in-out; 
  z-index: 9;
}
.items:hover::before {
  background-color: rgba(0, 0, 0, 0.5);
}

.column .items .content {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 10px;
}

.column .items .content h2 {
  color: #fff;
  font-size: 24px;
  line-height: 1.5;
}
.column .items .content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.column .items .content .categories {
  color: #ffffff;
  margin-bottom: 10px;
}
.column .items .content .categories span {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 4px;
  letter-spacing: 0.3em;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-right: 5px;
}
